* {
  margin: 0px;
  padding: 0px;

}
.main {
  display: flex;
  flex-wrap: wrap;
  border: 1px red solid;
}

header {
  /* border: 1px red solid; */
  /* background-color: transparent; */
}
.nav {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #f8f9fb;

}
.logo {
  max-width: 45px;
  max-height: 45px;
}
.name {
  color: Black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  /* border: 1px blue solid; */
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.nav-links li{
  /* border: 1px orange solid; */
  list-style: none;
  text-align: center;

}
.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  flex: 2;
}
.nav-links a:hover {
  /* backgound-color: black;*/
}

.search_form {
  /* border: solid red 1px; */
  margin: auto;
  width: 15%;
}
.search_form input {
  width: 60%;
}
.search_form button {
  background-color: inherit;
  /* border-color: #79ab86; */
  color: #79ab86;
}
.search_form button:hover {
  background-color: #79ab86;
  color: white;
}

.burger {
  display: none;
}
.burger div {
  width: 25px;
  height:5px;
  background-color: black;
  margin: 5px;
}

.fourm {
  width: 100%;
  display:flex;
  justify-content: space-around;
}
.post {
  width : 69%;
  /* border: 1px blue solid; */
  /* background-color: #555; */
}
textarea {
  border-radius: 10px;
  resize: none;
  overflow: auto;

}
.output_text_area textarea {
  width: 100%;
  /* background-color: skyblue; */

}
.input_area {
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
  /* align-content: center; */
  /* width: 100%; */

}
.input_text_area {
  width: 89%;
}
.input_text_area textarea {

  width: 100%;
  /* height: 100%; */
  text-indent: 5px;
  /* background-color: green; */
  /* margin: auto; */
}
.input_area button {
  width: 9%;
}

.sidebar{
  width :29%;
  /* background-color: purple; */
}

.article{
  height :25%;
  /* background-color: blue; */
}


@media screen and (max-width: 768px) {

}
@media screen and (max-width: 1024px) {
  .nav-links {
    /* border: 1px blue solid; */
    display: flex;
    justify-content: space-space-around;
    width: 70%;
  }
}
